In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("JC-201901-citibike-tripdata.csv", error_bad_lines=False)
data2 = pd.read_csv("JC-201902-citibike-tripdata.csv", error_bad_lines=False)
data3 = pd.read_csv("JC-201903-citibike-tripdata.csv", error_bad_lines=False)
data4 = pd.read_csv("JC-201904-citibike-tripdata.csv", error_bad_lines=False)
data5 = pd.read_csv("JC-201905-citibike-tripdata.csv", error_bad_lines=False)
data6 = pd.read_csv("JC-201906-citibike-tripdata.csv", error_bad_lines=False)
data7 = pd.read_csv("JC-201907-citibike-tripdata.csv", error_bad_lines=False)
data8 = pd.read_csv("JC-201908-citibike-tripdata.csv", error_bad_lines=False)
data9 = pd.read_csv("JC-201909-citibike-tripdata.csv", error_bad_lines=False)
data10 = pd.read_csv("JC-201910-citibike-tripdata.csv", error_bad_lines=False)
data11 = pd.read_csv("JC-201911-citibike-tripdata.csv", error_bad_lines=False)
data12 = pd.read_csv("JC-201912-citibike-tripdata.csv", error_bad_lines=False)

c:\Users\user\anaconda3\envs\bootcamp\lib\site-packages\IPython\core\interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
citi_frames = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12]
citi_result = pd.concat(citi_frames)
citi_result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
citi_result.gender = citi_result.gender.astype(str)

In [5]:
citi_result['gender'].replace({'1': 'male', '2': 'female'}, inplace=True)

In [6]:
citi_result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [8]:
citi_result.to_csv("bike_data.csv", index=False)